<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="container-fluid bg-danger-subtle">
        <nav id="navbar" class="navbar navbar-expand-lg bg-danger-subtle p-3">
             <div class="container-fluid">
               <a class="navbar-brand" href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa">
                 <img src="../../../assets/LogoAPsolo.png" alt="logo" width="45" height="34" class="d-inline-block align-text-top">
                 <span class="text-dark fs-5 fw-semibold">  Argentina Programa 4.0</span>
                 <span> #YoProgramo </span>
               </a>
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                 <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                   <li class="nav-item">
                     <a class="nav-link active" aria-current="page" href="#inicio" onclick="Selection()">Inicio</a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" href="#sobremi" onclick="Selection()">Sobre mí</a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" href="#experiencia">Experiencia</a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" href="#educacion">Formación</a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" href="#skills">H&S Skills</a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" href="#proyectos">Proyectos</a>
                   </li>
                   <li>
                     <button type="button" class="btn btn-danger" (click)="login()" *ngIf="!isLogged">Iniciar sesión</button>
                   </li>
                   <li>
                    <button type="button" class="btn btn-danger" (click)="onLogOut()" *ngIf="isLogged">Cerrar sesión</button>
                  </li>
                 </ul>
               </div>
             </div>
         </nav>
     </header>
</body>
</html>
