<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="experiencia" class="experiencia">
        <h2>Experiencia Laboral</h2>
        <div class="contenido-seccion">
            <div class="row">
                <h3>Empresa 1</h3>
                <div class="col-sm-12 col-md-2 col-lg-2 text-center">
                    <img src="../../../assets/logo-fi-unju-gran-formato-vertical-3000x2746.png" width="100px" class="img-fluid">
                </div>
                <div class="col-sm-12 col-md-10 col-lg-10">
                    <span class="cargo">Cargo 1</span>
                    <span class="fecha"> Año i - Año f</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem laudantium quos tenetur distinctio 
                        est earum obcaecati tempora quo? Perspiciatis, maxime? Ad quod recusandae veritatis dolore quibusdam 
                        sint ipsum illum incidunt?
                    </p>
                    <div class="conector-i">
                        <div class="circulo-i"></div>
                    </div>
                    <div class="conector-d">
                        <div class="circulo-d"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h3>Empresa 1</h3>
                <div class="col-sm-12 col-md-2 col-lg-2 text-center">
                    <img src="../../../assets/logo-fi-unju-gran-formato-vertical-3000x2746.png" width="100px" class="img-fluid">
                </div>
                <div class="col-sm-12 col-md-10 col-lg-10">
                    <span class="cargo">Cargo 1</span>
                    <span class="fecha"> Año i - Año f</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem laudantium quos tenetur distinctio 
                        est earum obcaecati tempora quo? Perspiciatis, maxime? Ad quod recusandae veritatis dolore quibusdam 
                        sint ipsum illum incidunt?
                    </p>
                    <div class="conector-i">
                        <div class="circulo-i"></div>
                    </div>
                    <div class="conector-d">
                        <div class="circulo-d"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>