<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mi</title>
</head>
<body>
    <section id="sobremi" class="sobremi">
        <div id="acerca-de" class="contenido-seccion">
            <h2>Sobre mi</h2>
            <p> <span> Hola, me llamo {{persona.nombre}} {{persona.apellido}} </span>. Soy una persona joven, formal y 
                llena de energía, con ganas de integrarme en un equipo de trabajo, en el cual aportar mi conocimiento 
                y formación, para de este modo adquirir experiencia profesional dentro del ámbito laboral.
            </p>
            <div>
                <div class="row">
                    <div class="column1 col-sm-12 col-md-6 col-lg-6">
                        <h3> Datos Personales</h3>
                        <ul>
                            <li>
                                <strong>Edad:   </strong>
                                27 años
                            </li>
                            <li>
                                <strong>Ocupación: </strong>
                                Estudiante de Ingeniería Química
                            </li>
                            <li>
                                <strong> Dirección:</strong>
                                Jujuy, Argentina
                            </li>
                            <li>
                                <strong> E-mail:</strong>
                                fabiperez95@gmail.com
                            </li>
                        </ul>
                    </div>
                    <div class="column2 col-sm-12 col-md-6 col-lg-6">
                        <h3>Intereses</h3>
                        <div class="contenedor-intereses">
                            <div class="interes">
                                <i class="fa-solid fa-headphones"></i>
                                <span>MUSICA</span>
                            </div>
                            <div class="interes">
                                <i class="fa-solid fa-book"></i>
                                <span>LIBROS</span>
                            </div>
                            <div class="interes">
                                <i class="fa-solid fa-person-hiking"></i>
                                <span>TREEKING</span>
                            </div>
                            <div class="interes">
                                <i class="fa-solid fa-plane"></i>
                                <span>VIAJAR</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a download="CV_PerezFabiana2023" href="../../../assets/CV-FabianaHildaPérez-2022 (1).pdf" class="btn">Descargar CV
                <i class="fa-solid fa-download"></i>
                <span class="overlay"></span>
            </a>
        </div>  
    </section>
</body>
</html>