<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="inicio" class="inicio">
        <div class="contenido-banner">
            <div class="contenedor-img">
                <img src="../../../assets/FotoPerfil_PerezFabiana.jpeg">
            </div>
            <p id="nombre">{{persona.nombre}} Perez</p>
            <h2>Full Strack Developer Jr.</h2>
            <div class="redes">
                <a href="https://www.facebook.com/fabi.perez.1422"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://www.linkedin.com/in/fabiperez427"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="https://instagram.com/fabiii_perez4272?igshid=ZGUzMzM3NWJiOQ=="><i class="fa-brands fa-instagram"></i></a>
                <a href="https://github.com/FabianaHPerez"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
    </div>
</body>
</html>